[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/var/run/php-fpm.pid
ExecStart=/sbin/php-fpm --nodaemonize --fpm-config /usr/local/php/etc/php-fpm.conf -c /etc/php/php.ini
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
Alias=php-fpm
